.DS_Store
node_modules
/demo

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/.prettierrc
/.eslintrc.js
/.babelrc
/logo/
/packages/
/utils/
/docs/
/example/
/.postcssrc.js
/.eslintignore
/.all-contributorsrc
/.travis.yml
/.prettierignore
/.editorconfig
/package-lock.json
/tsconfig.json
/vue.config.js
/yarn.lock
/demo/
/.vscode/
